.footer{
background-color: rgb(36, 36, 58);
color: white;
border-top: solid 2px rgb(57, 117, 57);
margin-top: 1%;
height: 50px;
}
.ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 80%;
    margin-left:5%;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: white;
}
.liFoot{
    display: flex;
}
.insta{
    align-self: center;
    margin-left: 5%;
    margin-top: 2%;
}

@media only screen and (max-width: 450px) {
    a{
        text-decoration: none;
        color: white;
        font-size: 8px;
    }
    .insta{
        align-self: center;
        margin-left: 5%;
        margin-top: 0%;

    }
    .ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        width: 80%;
        margin-left:0%;
        justify-content: space-around;
    }
}