.home{
    padding-left: 1%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 8%;
}
.h1{
    width: 35%;
    font-size: 90%;
    display: flex;
    flex-wrap: wrap;
}
.p{
    width: 48%;
    padding-left: 5%;
    margin-right: 10%;
    font-size: 90%;
    padding-top: 5%;
    margin-left: 2%;
}
.img{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
}
.imgin{
    height: 90px;
    width: 90px;
}
.imgin2{
    height: 40px;
    width: 80px;
    margin-left: 2%;
}
.imgin3{
    height: 40px;
    width: 80px;
    margin-left: 2%;
}
@media only screen and (max-width: 600px) {
    .h1{
        width: 90%;
        font-size: 90%;
        display: flex;
        flex-wrap: wrap;
    }
    .p{
        width: 90%;
        padding-left: 0%;
        margin-right: 0%;
        margin-left: 0%;
        font-size: 90%;
        padding-top: 5%;
    }
    

}